html {
    width: 100%;
}
.app {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    overflow-x: hidden;
}

header, footer {
    width: 100%;
}

main {
    width: 1000px;
    height: 100%;
    background-color: bisque;
}

li {
    list-style: none;
}

a {
    color: rgb(161, 161, 161);
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    color: mediumturquoise;
}